<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/tmp.css">
    <title>Error - Music Legends</title>
</head>

<body>
    <header>
        <div class="logo">
            <h1>Music Legends</h1>
            <p>Discover the Icons of Music</p>
        </div>
    </header>

    <main>
        <div class="container">
            <h1>Error</h1>
            <p>{{.ErrorMessage}}</p>
            <a href="/" class="back-home-button">Back to Home Page</a>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Music Legends. All rights reserved.</p>
        <p>Explore the legendary artists and their iconic works. For more information, visit our <a href="#">about page</a>.</p>
    </footer>
</body>

</html>
