<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/tmp.css">
    <title>Concert Locations</title>
</head>
<body>
    <div class="container">
        <h1>Concert Locations</h1>
        {{range .}}
            <div class="location-item">
                <h2>Id: {{.Id}}</h2>
                <p>Date: <a href="{{.Dates}}" target="_blank">{{.Dates}}</a></p>
                <ul>
                    {{range .Locations}}
                        <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>
            {{end}}
         <a href="/" class="back-home-button">Back to Home Page</a>
    </div>
</body>
</html>
