<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/tmp.css">
    <title>Relations</title>
</head>
<body>
    <h1>Relations</h1>
    {{range .}}
        <div>
            <h2>Id: {{.Id}}</h2>
            <ul>
                {{range $date, $locations := .DatesLocation}}
                    <li>{{ $date }}:
                        <ul>
                            {{range $locations}}
                                <li>{{.}}</li>
                            {{end}}
                        </ul>
                    </li>
                {{end}}
            </ul>
        </div>
    {{end}}
    <a href="/" class="back-home-button">Back to Home Page</a>
</body>
</html>
